<!DOCTYPE html>
<html>
<head><title>Manual UE Property Read</title></head>
<body>
 <input id="pi_input" type="range" min="0" max="2400" step="any" />
<p>Value: <output id="value"></output></p>
<script>const input = document.querySelector("#pi_input");

input.addEventListener("input", (event) => {
  const value = event.target.value;

  // Send the value to the backend
  fetch('/update-value', {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json'
    },
    body: JSON.stringify({ value: value }) // send as JSON
  })
  .then(response => response.json())
  .then(data => {
    console.log('Server response:', data);
  })
  .catch(error => {
    console.error('Error sending data:', error);
  });
});


</script>


</body>
</html>
